{% extends "base.html" %}

{% block nav%}
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('movie.index')}}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('movie.display_all_movies')}}">Movies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
    </li>
{%endblock%}
{%block main%}
    	<div class="container">	
    		<h5 class="my-4">{{error}}
			</h5>
    	</div>
 {%endblock%}